body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.center-content {
    text-align: center;
}

.button1 {
    background-color: #02b757;
    cursor: pointer;
    /*
    border-style: solid;
    border-color: darkgreen;
    border-width: 3px;
     */
    padding: 15px 80px;
    border-radius: 8px;
    font-size: 24px;
    a {
        color: white;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-weight: bold;
        text-shadow: 0 0 12px #005428;
    }
}

.mm2-icon {
    display: flex;
    /*width: 100vmin;*/
    height: 75vmin;
}

.loader {
    border: 16px solid #212121; /* Light grey */
    border-top: 16px solid #540f0f; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}